table{
	margin-top: 20px;
}
.mainForm{
	margin: 200px 0 0 300px;
	border: 1px solid grey;
	width: 30%;
	border-radius: 10px;
}
.center{
	text-align: center;	
	margin: 5px;
	font-size: 20px;
}
.row{
	margin: 10px;
}
.form-inline{
	margin: 20px;
}
.fixButton{
	margin-left: 80px;
}

.title{
	 margin: 20px;
	 font-size: 30px;
	 text-align: center;
	 font-weight: bold;
}
.bgRed{
	background-color: red;
}